.task-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__item {
    margin-top: 2rem;
  }
}

.btn-submit {
  border: none;
  background: darken(#046494, 10%);
  width: 84px;
  height: 32px;
  border-radius: 14px;
  color: #d3d3d3;
  font-weight: 400;
}