html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

h1, h2 {
  color: darken($blue-main, 40%);
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.btn-go-back {
  font-size: 48px;
}